<app-nav></app-nav>
<div class="container">
  <!--------------------aside bar------------------->
    <aside>
        <h3>Products</h3>
        <h4><a routerLink="home">all({{products.length}})</a></h4>
        <h4><a routerLink="simple">Simple Tools({{simple_products.length}})</a></h4>
        <h4><a routerLink="complex">Complex Tools({{complex_products.length}})</a></h4>
    </aside>
    <!-----------------part above products--------------->
    <div>
      <div class="header"> 
        <h1>Products</h1>
        <button routerLink="home">sync</button>
    </div>
    <!--------------router components---------------->
      <router-outlet></router-outlet>
    </div>
</div>
